* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 30px;
}

.imgContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

.imgContainer img:hover {
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}